body{
    font-family: 'Poppins', sans-serif;
}
p{
    font-size: 10px;
    color: gray;
}
.logo{
width: 198.07px;
height: 59px;
left: 212px;
top: 30px;
}
.sing-in-button{
    background-color: #21B573;
    border: none;
    border-radius: 33px;
    width: 100px;
    height: 40px;
}
.green-button{
    background-color: #21B573;
    border: none;
    border-radius: 33px ;
}
.bg{
    background-color: #F0FFF0;
   
left: 0px;
top: 0px;
}
.m-buttom{
    margin-bottom: 50px;
}
.nav-link{
    color: black;
}
.text-orange{
    color: #FD511A;
}
.text-green{
    color: #21B573 ;
}
.colom{
    padding: 50px;
}
.image-png{ width: 66px;
    height: 85px;
   
}
.cat1,.cat3,.cat4{
    background-color: #F8FFFB;
}
.cat2{
    background-color: #F8FFFB;
    box-shadow: 2px 20px 40px lightgray;
}